body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to top, #6f79bc 0%,#96c56f 100%);	
  background-size: cover;
}  

button {
	cursor: pointer;
}

